body{font-family: 'noto sans KR'; font-size: 14px; box-sizing: border-box;}
span{font-weight: bold;}
h1{font-size: 42px;}
h3{font-size: 21px;}
p{font-size: 14px;}

#gnb{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #000;
    background: #000000ec;
    z-index: 9999;
}
#gnb a{
    color: #eaeaea;
}
#topMenu{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
}
#top_underline{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #000;
}
#topMenu ul{
    width: 350px;
    height: 30px;
    float: right;
}
#topMenu li{
    float: left;
    width: 70px;
    height: 25px;
    line-height: 25px;
}
#mainMenu_wrap{
    width: 1200px;
    height: 58px; 
    margin: 0 auto;
}
#menuLogo{
    width: 100px;
    height: 58px;
    float: left;
}
#mainMenu{
    width: 1050px;
    height: 60px;
    float: right;
}
#mainMenu>li{
    width: 200px;
    height: 30px;
    border-right: 1px solid #000;
    float: left;
    text-align: center;
    line-height: 30px;
    margin-top: 15px;
    position: relative;
}
#mainMenu>li:last-child{
    border-right: none;
}

#subMenu{
    margin-top: 60px;
    left:0;
    width: 100%;
    height: 200px;
    position: absolute;
    background: #424242d2;
    display:none;
    z-index: 999;
}

#subMenu_wrap{
    width: 1200px;
    height: 180px;
    margin: 0 auto;
}
#subMenu_wrap2{
    width: 850px;
    height: 150px;
    float: right;
}

#subMenu ul{
    float: left;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 20px;
}

#subMenu li{
    width: 200px;
    height: 35px;
}

#mainMenu_wrap:hover #subMenu{display:block;}
/*GNB end*/




header{width: 100%; height: 370px;}
.brand_visual_photo{width: 100%; height: 370px; position: relative; }
.brand_visual_boxphoto{
    background: url(../img/brand/1.visual.jpg) no-repeat center center;
    width: 100%; height: 370px; position: absolute;
}

.brand_visual_txt_box{
    position: absolute; margin: 0 auto; color: #fff; text-align: center;
    width: 530px; height: 100px; top: 130px; left: 50%; margin-left: -250px;
}
.brand_visual_txt1{margin-bottom: 25px;}



.brand_txtBox{width: 1200px; height: 320px; position: relative; margin: 0 auto;}
.brand_PEARLbg{background: #d1c0a5; width: 180px; height: 30px; position: absolute; left: 540px; top: 20px; z-index: -9;}
.brand_subTxtbox{width: 1200px; text-align: center; border-bottom: 1px solid #000; margin: 100px auto;}
.brand_subTitle{z-index: 999;}
.brand_subTxt{margin: 70px 0; line-height: 20px;}
/* header End*/

/*section1 start*/
.brand_section1{width: 100%; height: auto; position: relative; margin: 100px auto; margin-bottom: 300px;}

.brand_box1{width: 1200px; height: 620px; margin: 100px auto; position: relative;}

.brand_box1_photo1{background: url(../img/brand/brand_box1.jpg) no-repeat center;
width: 900px; height: 620px; position: absolute; left: 0;}

.brand_text_box1{position: absolute; top: 30px; width: 500px;}
.brand_box1_text1{z-index: 9999;}
.brand_box1_text1_bg{
    background: #d1c0a5; position: absolute; left: 960px;
    width: 65px; height: 20px; top: 10px;
}
.brand_box1_text2{width: 100px; height: 30px; position: absolute; top: 30px; margin-top: 10px;}
.brand_box1_text3{width: 230px; height: 120px; line-height: 20px; bottom: 30px;}


.brand_box1_text1,.brand_box1_text2,.brand_box1_text3{position: absolute; left: 950px; width: 230px;}

/*brand_box1 -end*/

/*brand_box2*/
.brand_box2{width: 1200px; height: 620px; margin: 100px auto; position: relative;}

.brand_text_box2{position: absolute; top: 30px; width: 520px;}

.brand_box2_photo2{
    background: url(../img/brand/brand_box2.jpg) no-repeat center;
    width: 900px; height: 620px; position: absolute; right: 0;
}
.brand_box2_text1{z-index: 9999;}
.brand_box2_text1_bg{
    background: #d1c0a5; position: absolute; left: 10px; 
    width: 85px; height: 20px; top: 10px;
}
.brand_box2_text2{width: 200px; height: 30px; top: 30px; margin-top: 10px;}
.brand_box2_text3{width: 240px; height: 120px; position: absolute; bottom: 30px; line-height: 20px;}

.brand_box2_text1,.brand_box2_text2,.brand_box2_text3{position: absolute; left: 0px;}
/*brand_box2 -end*/


/*brand_box3*/
.brand_box3{width: 1200px; height: 620px; margin: 100px auto; position: relative;}

.brand_text_box3{position: absolute; top: 30px; width: 500px;}

.brand_box3_photo3{
    background: url(../img/brand/brand_box3.jpg) no-repeat center;
    width: 900px; height: 620px; position: absolute; left: 0;
}
.brand_box3_text1{z-index: 9999;}
.brand_box3_text1_bg{
    background: #d1c0a5; position: absolute; left: 960px; 
    width: 85px; height: 20px; top: 10px;
}
.brand_box3_text2{width: 200px; height: 50px; position: absolute; top: 30px; margin-top: 10px;}
.brand_box3_text3{width: 280px; bottom: 30px; line-height: 20px;}

.brand_box3_text1,.brand_box3_text2,.brand_box3_text3{position: absolute; left: 950px; width: 230px;}



/*brand_box3 -end*/



/*footer*/
#brand_footer{ width: 100%; height: 550px; overflow: hidden;}
#footer_top{width: 100%; height: 252px; background: url(../img/index/footer_bg.png); position: relative;}
.footer_topBox{list-style: none; position: absolute; left: 730px; top:50px;}
.footer_subMenu li a{color: #999;}
.footer_topBox a{
    color: #fff;
    display:block;
    text-decoration:none;
}
.footer_topBox li{
    float:left;
    padding:0;
    width:110px;
    height:14px;
    line-height:14px;
    text-align:center;
    list-style:none;
    text-align: center;
}
.footer_subMenu li{
    width:80px;
    height: 30px;
    line-height: 30px;
    list-style:none;
    padding-right: 15px;
}
.footer_subMenu{width: 80px; height: 120px; text-align: center; margin-left: 10px; padding: 5px; margin-top: 10px;}
 
#footer_bottom{width: 100%; height: 300px; background: #000; position: relative;}
#footer_left{width: 700px; height: 200px; margin-left: 425px; padding-top: 62px;}
#footer_left a{color: #fff;}
#footer_left p{color: #fff;}
.footer_last1{ width: 600px; height: 15px; font-size: 16px; left: 425px; color: #fff; word-spacing: 5px;}
.footer_last2{margin-top: 30px; line-height: 22px;}
 
#footer_right ul{list-style: none;}
#footer_right{ width: 240px; height: 46px; position: relative; left: 1290px;}
.facebook{position: absolute; width: 50px; height: 50px; top: -210px; color: #fff; left: 0px;}
.blog{position: absolute; width: 50px; height: 50px ; top: -210px; color: #fff; left: 70px;}
.instagram{position: absolute; width: 50px; height: 50px;  top: -210px; color: #fff; left: 140px;}
.youtube{position: absolute; width: 50px; height: 50px;  top: -210px; color: #fff; left: 210px;}

.goTop{
    position: fixed; bottom: 30px; right: 30px; display: none; 
    width: 50px; height: 50px; background: #d1c0a5; color: #fff; 
    border-radius: 50px; text-align: center; line-height: 50px;
    font-size: 1.2em;
}