body{font-family: 'noto sans KR'; font-size: 14px; box-sizing: border-box;}
span{font-weight: bold;}
h1{font-size: 42px;}
h3{font-size: 21px;}
p{font-size: 14px;}

#gnb{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #000;
    background: #000000ec;
    z-index: 9999;
}
#gnb a{
    color: #eaeaea;
}
#topMenu{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
}
#top_underline{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #000;
}
#topMenu ul{
    width: 350px;
    height: 30px;
    float: right;
}
#topMenu li{
    float: left;
    width: 70px;
    height: 25px;
    line-height: 25px;
}
#mainMenu_wrap{
    width: 1200px;
    height: 58px; 
    margin: 0 auto;
}
#menuLogo{
    width: 100px;
    height: 58px;
    float: left;
}
#mainMenu{
    width: 1050px;
    height: 60px;
    float: right;
}
#mainMenu>li{
    width: 200px;
    height: 30px;
    border-right: 1px solid #000;
    float: left;
    text-align: center;
    line-height: 30px;
    margin-top: 15px;
    position: relative;
}
#mainMenu>li:last-child{
    border-right: none;
}

#subMenu{
    margin-top: 60px;
    left:0;
    width: 100%;
    height: 200px;
    position: absolute;
    background: #424242d2;
    display:none;
    z-index: 999;
}

#subMenu_wrap{
    width: 1200px;
    height: 180px;
    margin: 0 auto;
}
#subMenu_wrap2{
    width: 850px;
    height: 150px;
    float: right;
}

#subMenu ul{
    float: left;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 20px;
}

#subMenu li{
    width: 200px;
    height: 35px;
}

#mainMenu_wrap:hover #subMenu{display:block;}
/*GNB end*/

/*header*/
header{width: 100%; height: 370px;}
.event_visual_photo{width: 100%; height: 370px; position: relative;}
.event_visual_boxphoto{
    background: url(../img/event/1.visual.jpg) no-repeat center center;
    width: 100%; height: 370px; position: absolute;}

.event_visual_txt1{margin-bottom: 25px;}

.event_visual_txt_box{
    position: absolute; margin: 0 auto; 
    color: #fff; text-align: center; 
    width: 510px; height: 100px;
    top: 130px; left: 50%; margin-left: -250px;
}

.event_visual_boxes{
    width: 1200px; height: 75px; 
    position: relative; top: -35px;
    margin: 0 auto; 
}
.event_visual_eventBox1{width: 600px; height: 75px; background: #fff; text-align: center; line-height: 75px; float: left;}
.event_visual_eventBox2{width: 600px; height: 75px; background: #e5e5e5; text-align: center; line-height: 75px; float: right;}

/*
.event_visual_searchBoxes_wrap{width: 1200px; height: 100px; margin: 0 auto;}
.event_visual_searchBoxes{width: 600px; height: 100px; position: relative; top: 380px; float: right; margin-bottom: 50px;}
.event_visual_searchBox{width: 420px; height: 45px; border: 1px solid #e5e5e5; float: left; margin-left: 80px; position: absolute;}
.event_inputBox{width: 420px; height: 45px;}
.event_btn1_search{width: 80px; height: 45px; float: right; border: 1px solid #e5e5e5; background: none; background: #d1c0a5; border-radius: 3px;}
.event_btn1_search a{color: #fff;}
*/

/*section start*/

.event_visual_Boxwrap{width: 1200px; height: 1800px; margin: 100px auto; position: relative; padding-top: 35px;}
.event_visual_Boxwrap li{width: 570px; margin: 0 auto; height: 600px; margin-right: 60px;}
.event_visual_Boxwrap li:nth-child(2n){margin-right: 0;}

.event_s1_photo1{width: 564px; height: 299px; background: url(../img/event/event_img1.jpg) center; background-size: cover;}
.event_s1_photo2{width: 564px; height: 299px; background: url(../img/event/event_img2.jpg); background-size: cover;}
.event_s2_photo1{width: 564px; height: 299px; background: url(../img/event/event_img3.jpg) 50%; background-size: cover;}
.event_s2_photo2{width: 564px; height: 299px; background: url(../img/event/event_img4.jpg); background-size: cover;}
.event_s3_photo1{width: 564px; height: 299px; background: url(../img/event/event_img5.jpg) 50%; background-size: cover;}
.event_s3_photo2{width: 564px; height: 299px; background: url(../img/event/event_img6.jpg); background-size: cover;}

.event_txt_box{width: 564px; height: 200px; margin: 50px auto; float: left;}
.event_underline{margin-top: 15px;}
.event_boxInner>h3{margin: 10px 0;}
.event_moreBox{width: 120px; height: 40px; border: 1px solid #333; text-align: center; line-height: 40px; margin-top: 30px;}
.event_moreBox:hover p{width: 120px; height: 40px; color: #fff; background: #d1c0a5;}

.e_left{float: left;}
.e_right{float: right;}

/*e.section*/




/*footer*/
#brand_footer{ width: 100%; height: 550px; overflow: hidden;}
#footer_top{width: 100%; height: 252px; background: url(../img/index/footer_bg.png); position: relative;}
.footer_topBox{list-style: none; position: absolute; left: 730px; top:50px;}
.footer_subMenu li a{color: #999;}
.footer_topBox a{
    color: #fff;
    display:block;
    text-decoration:none;
}
.footer_topBox li{
    float:left;
    padding:0;
    width:110px;
    height:14px;
    line-height:14px;
    text-align:center;
    list-style:none;
    text-align: center;
}
.footer_subMenu li{
    width:80px;
    height: 30px;
    line-height: 30px;
    list-style:none;
    padding-right: 15px;
}
.footer_subMenu{width: 80px; height: 120px; text-align: center; margin-left: 10px; padding: 5px; margin-top: 10px;}
 
#footer_bottom{width: 100%; height: 300px; background: #000; position: relative;}
#footer_left{width: 700px; height: 200px; margin-left: 425px; padding-top: 62px;}
#footer_left a{color: #fff;}
#footer_left p{color: #fff;}
.footer_last1{ width: 600px; height: 15px; font-size: 16px; left: 425px; color: #fff; word-spacing: 5px;}
.footer_last2{margin-top: 30px; line-height: 22px;}
 
#footer_right ul{list-style: none;}
#footer_right{ width: 240px; height: 46px; position: relative; left: 1290px;}
.facebook{position: absolute; width: 50px; height: 50px; top: -210px; color: #fff; left: 0px;}
.blog{position: absolute; width: 50px; height: 50px ; top: -210px; color: #fff; left: 70px;}
.instagram{position: absolute; width: 50px; height: 50px;  top: -210px; color: #fff; left: 140px;}
.youtube{position: absolute; width: 50px; height: 50px;  top: -210px; color: #fff; left: 210px;}

.goTop{
    position: fixed; bottom: 30px; right: 30px; display: none; 
    width: 50px; height: 50px; background: #d1c0a5; color: #fff; 
    border-radius: 50px; text-align: center; line-height: 50px;
    font-size: 1.2em;
}